<div class="container">
  <h3>{{ title }}</h3>
  <form ngForm #form="ngForm" (submit)="onContinue(form)">
    <div class="form-group">
      <input
        ngModel
        name="advisorName"
        #name="ngModel"
        type="text"
        class="form-control"
        placeholder="Advisor name"
      />
    </div>
    <div class="form-group">
      <input
        ngModel
        name="advisorEmail"
        #pwd="ngModel"
        type="text"
        class="form-control"
        placeholder="Advisor's Email"
        value=""
      />
    </div>
    <div class="form-group">
      <input type="submit" class="btnSubmit" value="Send Email" />
    </div>
  </form>
</div>
