<h3>
  Welcome {{ advisor.email }}. Please select a student name to see the options
  for a course substitution
</h3>
<div class="containers">
  <div class="left-container card">
    <h3>Students</h3>
    <div class="btn-group-vertical">
      <button
        *ngFor="let student of students"
        class="btn btn-info left-container-btn"
        (click)="onClickStudent(student)"
      >
        {{ student.email }}
      </button>
    </div>
  </div>
  <div class="right-container card">
    <h3>Add substitute to courses.</h3>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let course of courses">
        <span>{{ course.course.name }}</span>
        <input
          name="substitute"
          ngModel
          #substitute="ngModel"
          placeholder="Please enter course number to substitute."
        />
        <button
          class="btn btn-primary"
          (click)="onClickRegister(course.course.id, substitute.viewModel)"
        >
          Add substitute
        </button>
      </li>
    </ul>
  </div>
</div>
