.login-container {
  margin-bottom: 5%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  color: #333;
  max-width: 480px;
  margin-top: 25%;
}

h3 {
  text-align: center;
  color: #333;
  padding: 10px;
}

form {
  padding: 15%;
}

.btnSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
}
.btnSubmit {
  font-weight: 600;
  color: #fff;
  background-color: #0062cc;
}

.ForgetPwd {
  color: #0062cc;
  font-weight: 600;
  text-decoration: none;
}
