<div
  *ngIf="currentMajors && currentMajors.length"
  class="container radio-container card"
>
  <h3>
    Welcome to {{ currentDegree.name }}. You have to further select the major
    you are enrolled in
  </h3>
  <form ngForm #form="ngForm" (submit)="onContinue(form)">
    <div *ngFor="let major of currentMajors" class="radio form-group">
      <label>
        <input ngModel type="radio" name="major" [value]="major.id" />
        {{ major.name }}
      </label>
    </div>
    <button class="btn btn-primary">Continue</button>
  </form>
</div>
<div *ngIf="!currentMajors" class="warning">
  Something Went Wrong! Please try again later.
</div>
<div
  *ngIf="currentMajors && currentMajors.length === 0"
  class="warning vertical-align"
>
  <span>
    This degree doesn't contain any specializations. Please select a different
    degree to continue.
  </span>
  <button class="btn btn-primary" (click)="onClickBack()">Go Back</button>
</div>
