<h3></h3>
<div class="table table-bordered">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Course Number</th>
        <th scope="col">Substitute</th>
        <th scope="col">Statue</th>
        <th scope="col">First Academic Year</th>
        <th scope="col">Credits</th>
        <th scope="col">Prerequisites</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Semester 1</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
</div>
