html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
div {
  width: 50%;
  height: 400px;
  float: left;
  padding: 20px;
}
.div1 {
  background: white;
}
.div2 {
  background: #aaa;
}
.div3 {
  background: #777;
}
.div4 {
  background: #444;
}

.courseButton {
  margin-left: 11%;
  margin-top: 3%;
  margin-right: 11%;
}

.courses-container {
  margin-left: 33.33%;
  margin-top: 5%;
  width: 33.33%;
  height: 60%;
}
