<h3>Welcome {{studen.name}}. The following is the map of your semester.</h3>
<div class="table table-bordered">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">First Year</th>
                <th scope="col">Second Year</th>
                <th scope="col">Third Year</th>
                <th scope="col">Fourth Year</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@twitter</td>
            </tr>
            <tr>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>@twitter</td>
            </tr>
            <tr>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td>@twitter</td>
            </tr>
        </tbody>
    </table>
</div>