/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/open-iconic/font/css/open-iconic-bootstrap.css";

.radio-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}
